/* Reset styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(93, 93, 93, 0.237);
    backdrop-filter: blur(2rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-size: 2rem;
    color: #000;
    padding: 0 1rem;
    transition: opacity .3s ease-in-out;
}

.nav-link:hover {
    opacity: .7;
}

/* Book previews styles */
/* Each item takes up to 45% of the container width, with a max of two per line */
.preview-container {
    flex: 0 0 45%; /* Do not grow, do not shrink, start at 45% of the parent width */
    min-height: 300px; /* or any other value to standardize the height */
    margin-bottom: 2rem; /* space between rows */
    /* the rest of your .preview-container styles */
}

/* To ensure that the content doesn't overflow the container */
.book-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 100; /* This makes sure the content section flexes to fill the available space */
}

/* To ensure the image section takes up a fixed portion of the container */
.book-image {
    height: 80%; /* Adjust as needed, or use a fixed height */
    background-size: cover;
    background-position: center;
}

/* This makes sure all the .book-previews children (.preview-container) are the same width and height */
.book-previews .preview-container {
    width: calc(50% - 4rem); /* Adjust the width as necessary, accounting for the margin/gap */
    height: 500px; /* Adjust the height as necessary */
}
.book-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* distributes space around items */
    align-items: flex-start; /* aligns items to the start of the flex line */
}

/* Adjust the width and margins for responsiveness */
@media (max-width: 768px) {
    .preview-container {
        flex: 0 0 100%; /* full width on smaller screens */
        min-height: auto; /* height can adjust to content */
        /* the rest of your responsive .preview-container styles */
    }
}

/* Hover effect */
.preview-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* Title and text styles */
.title {
    text-align: center;
    padding-top: 2rem;
}

.title-heading {
    font-size: 5.6rem;
    line-height: 1.07;
}

.author-heading {
    font-size: 2.6rem;
    margin-top: 0.6rem;
}

.description {
    font-size: 1.8rem;
    color: #4f4f4f;
    margin-top: 0.8rem;
}

.cta-link {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    color: orange;
    align-self: center;
}

.cta-link-darker {
    color: darkgreen;
}

/* Footer styles */
.footer {
    padding: 4rem 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 4rem;
}

.footer p {
    margin-bottom: 1rem;
}

/* Add styles for footer links and other content as needed */

/* Background images for book previews */
.preview-book1 .book-image {
    background-image: url(images/Books/book1.png); /* Update with the correct path */
}

.preview-book2 .book-image {
    background-image: url(images/Books/book2.png); /* Update with the correct path */
}

.preview-quotes .book-image {
    background-image: url(images/Books/quotes.jpg); /* Update with the correct path */
}

.preview-other .book-image {
    background-image: url(images/Books/github.png); /* Update with the correct path */
}
